.bidding-button{
    margin-left: 100px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
}
.antiques-input{
    width: 200px;
    margin-left: 50px;
}