.navbar-brand{
    font-size: 25px;
    margin-top: 20px;
    display: flex;
}
.logo{
    width: 190px;
    height: 100px;
}
.navbar-h5{
    margin-right: 40px;
    border: 1px solid black;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: black;
    color: white;
    border-radius: 10px;
}
.navbar{
    display: flex;
}
.logoname{
    margin-top: 20px;
}